body {
	padding-bottom: 20px;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
	overflow: hidden;
}

h1 {
	font-size: 4vw;
}

.slideshow-container {
	width: 60%;
	aspect-ratio: 1;
	position: relative;
	margin: auto;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 5px
}

.slide {
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;

}

img {
	width: 100%;
	height: 100%;
	object-fit: contains;
}

.fade {
	animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}